@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    height: 90vh;
    background: #05231a;
}

#landing-page {
    padding-top: 18%;

}

h1 {
    font-size: 100px;
    padding: 15px;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    color: #fff;

}

/* button:uiverse.io */
button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    padding: 20px;
    /* width: 90px; */
    /* height: 120px; */
}

button:focus,
button:hover {
    color: #fff;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* contact icons */
#icons .fa {
    padding-right: 15px;
    color: #fff;
    margin: 0;

}

/* media queries */

@media (max-width: 633px) {
    h1 {

        font-size: 70px;
    }

    h3 {
        font-size: 19px;
    }

    #landing-page {
        padding-top: 45%;

    }
    #socials{
        padding-top: 18px;
    }

}


@media (max-width:360px) {
    h3 {
        font-size: 15px;
    }
    #socials{
        padding-top: 18px;
    }
}